html, body {
	background-color:  white;
	color: black;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

nav {	
	width:20%; 
	float:right; 
	padding:1%; 
	overflow:hidden; 

	display: flex;
	height: 70vh;
}

nav ul li {
	list-style-type:none; 
	padding: 0 0 0 10px;
}

footer { 
	height:50px;
	background: black;
	color: white;
	text-align:center;
	margin-top:10px;
	padding:5px;
}

header { 
	height:100px;	
	background: #e4e4e4; 
	margin: 0 0 10px 0; 
}

h1, h2, h3 {
	color: orangered;
	padding: 10px 0;
	text-align: center;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 25px;
}

a {
	text-decoration: none;
}

nav ul > li:hover  {
   background-color: #e9e9e9;
}

nav ul > li:hover > a	{
	color: #002080;
}

nav ul li a.active {
 text-shadow: 1px 1px #101010;
}

#content { 
	width:75%; 
	background: #e7e7e7; 
	background: whitesmoke; 
	float:left; 
	padding:1%; 
	overflow:hidden; 
}

#wrapper { 
	width:90%;
	overflow:hidden;
	margin:0 auto;
	min-height:calc(100% - 52px); 
	padding:1%; 
	height: auto;
}

/*RWD - responsive web design*/
@media only screen and (max-width: 900px) {
	nav {
		width:88%; position:absolute;
		height:30px;
	}

	nav ul li {
		display: inline;
	}

	nav ul li::after {
		content: " |";
	}

   #content {
	width: 98%;position:relative;
	top: 30px;
	margin-top:5%;
	}

	.course__table {
		display: none;
	}
}



.left {
	float: left;
}

.home__main-header {
	font-size: 40px;
}

.home__paragraph-image {
	height: 180px;
	padding: 0 20px 15px 0;
}

.home__image--vannewar-bush:hover {
	opacity: 0.75;
	transition: 0.15s;
}

.home__to-the-top-link
{
	display: block;
	align-self: flex-end;
}

.course__table, .course__table-header, .course__td {
	border: 1px solid black;
	font-size: 20px;
}

.course__table {
	background: rgb(218, 218, 218);
}

.course__table-header {
	padding: 10px 15px;
	text-align: center;
}

.course__td {
	padding: 5px 10px;
}

.course__td--score {
	padding: 5px 10px;
	text-align: right;
}

.course__td--summary {
	text-align: right;
}
